[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Leonid Gonchar (leonsev)
	owner = group user/VladimirGonchar
[access "refs/for/refs/*"]
	read = group user/Leonid Gonchar (leonsev)
	read = group user/VladimirGonchar
	push = group user/Leonid Gonchar (leonsev)
	push = group user/VladimirGonchar
	label-Code-Review = -2..+2 group user/Leonid Gonchar (leonsev)
	label-Code-Review = -2..+2 group user/VladimirGonchar
	label-Verified = -1..+1 group user/Leonid Gonchar (leonsev)
	label-Verified = -1..+1 group user/VladimirGonchar
	rebase = group user/Leonid Gonchar (leonsev)
	rebase = group user/VladimirGonchar
	removeReviewer = group user/Leonid Gonchar (leonsev)
	removeReviewer = group user/VladimirGonchar
	submit = group user/Leonid Gonchar (leonsev)
	submit = group user/VladimirGonchar
[access "refs/heads/*"]
	read = group user/Leonid Gonchar (leonsev)
	read = group user/VladimirGonchar
	create = group user/Leonid Gonchar (leonsev)
	create = group user/VladimirGonchar
	push = +force group user/Leonid Gonchar (leonsev)
	push = +force group user/VladimirGonchar
	pushMerge = group user/Leonid Gonchar (leonsev)
	pushMerge = group user/VladimirGonchar
[access "refs/tags/*"]
	push = +force group user/Leonid Gonchar (leonsev)
	push = +force group user/VladimirGonchar
	pushTag = group user/Leonid Gonchar (leonsev)
	pushTag = group user/VladimirGonchar
	pushSignedTag = group user/Leonid Gonchar (leonsev)
	pushSignedTag = group user/VladimirGonchar
[submit]
	action = fast forward only
	mergeContent = false
